{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %} 
<h3 style="margin-top: 20px;">Search User</h3> 
<ul>
    {% for user in users %}
        <article class="post media content-section">
            <a class="mr-2" href="/user/{{ user['username'] }}">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user['image_file']) }}">
            </a>
            <br>
            <a class="mr-2" href="/user/{{ user['username'] }}">{{ user["username"] }}</a>
        </article>
    {% endfor %}
</ul>
{% endblock %}